html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  margin:0;
  padding:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace, sans-serif;
}

a {text-decoration:none;color:#000;}

/* header */
#header {position:fixed;left:0;top:0;display:flex;flex-wrap:wrap;align-items:center;width:100%;padding:0 10%;height:40px;background:rgba(255,102,0);box-sizing:border-box;}
#header .logo {width:100px;font-size:14px;}
#header nav {width:calc(100% - 100px);}
#header nav ul {display:flex;flex-wrap:wrap;align-items:center;}
#header nav ul li {position:relative;}
#header nav ul li + li {margin-left:11px;}
#header nav ul li + li:before {content:'';position:absolute;left:-6px;top:50%;display:block;width:1px;height:10px;background:#000;transform:translateY(-50%);}
#header nav a {display:block;width:100%;height:100%;text-align:center;font-size:14px;}

#wrap {min-height:100vh;padding:40px 0 100px;box-sizing:border-box;}

#footer {position:relative;height:100px;margin-top:-100px;padding:20px 0 0;border-top:1px solid #000;box-sizing:border-box;}
#footer address {text-align:center;}
#footer address a {margin:0 10px;display:inline-block;vertical-align:top;}

/* sub */
.newslist {max-width:100%;width:1080px;margin:0 auto;background:#ccc;padding:10px;box-sizing:border-box;}
.newslist li {padding:5px 10px;display:flex;flex-wrap:wrap;line-height:24px;box-sizing:border-box;}
.newslist li + li {border-top:1px solid #aaa;}
.newslist li a {display:block;width:70%;}
.newslist li .ti {font-size:18px;}
.newslist li .news_info {width:30%;text-align:right;}
.newslist li .news_info .user {color:#999;}
.newslist li .news_info .upload_time {margin-left:14px;color:#999;}